header
    .home-header
        .container 
            .row
                .col-2
                    .left-box
                        .home-box-logo
                            img(src="./assets/img/logo.png",alt="")
                .col-10
                    .right-box
                        .home-main-header
                            nav.navbar.navbar-expand-lg.navbar-light.navbar-expand-xl
                                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                                    span.navbar-toggler-icon
                                #navbarSupportedContent.collapse.navbar-collapse
                                    ul.navbar-nav
                                        li.nav-item.active
                                            a.nav-link(href='#') Chỗ Nghỉ
                                                span.sr-only (current)
                                        li.nav-item
                                            a.nav-link(href='#') Thuê xe
                                        li.nav-item
                                            a.nav-link(href='#') Tour & hoạt động
                                        li.nav-item
                                            a.nav-link(href='#') MYT Blog
                                        li.nav-item
                                            a.nav-link(href='#') Giới Thiệu
                                    .home-button.ml-auto
                                        button.btn.btn-new Đăng kí
                                        button.btn.btn-new Đăng nhập
                                    .home-button-sticky.ml-auto
                                        button.btn.btn-new Đăng ký chỗ nghỉ

