section.home-best-house
    .home-text.text-center
        h2 Chỗ nghỉ tốt nhất của chúng tôi
    .container
        .swiper-container.swiper2
            .swiper-wrapper
                .swiper-slide
                    .card
                        .card-img-top
                            img(src="./assets/img/slide01.png",alt="")
                        .card-body
                            p.home-card-name Leman Locke
                            p.home-card-place London
                            p.home-card-price Giá từ VND 323.323.394
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/slide06.png",alt="")
                        .card-body
                            p.home-card-name Habitat Apartments Bruc Terrace
                            p.home-card-place London
                            p.home-card-price Giá từ VND 323.323.394
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/slide05.png",alt="")
                        .card-body
                            p.home-card-name Mecenate Charme
                            p.home-card-place London
                            p.home-card-price Giá từ VND 323.323.394
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/slide07.png",alt="")
                        .card-body
                            p.home-card-name Flora Chiado Apartments
                            p.home-card-place Hà Nội
                            p.home-card-price Giá từ VND 323.323.394
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/slide08.png",alt="")
                        .card-body
                            p.home-card-name ThreeSome
                            p.home-card-place TP.HCM
                            p.home-card-price Giá từ VND 323.323.394
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/slide01.png",alt="")
                        .card-body
                            p.home-card-name DOGGY
                            p.home-card-place TP.HCM
                            p.home-card-price Giá từ VND 323.323.394
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
            .swiper-pagination

        

            