section.home-top-select
    .home-text.text-center
        h2 Những chỗ nghỉ như ở nhà được đặt nhiều nhất
    .container
        .swiper-container.swiper3
            .swiper-wrapper
                .swiper-slide
                    .card
                        .card-img-top
                            img(src="./assets/img/background4.jpg",alt="")
                        .card-body
                            p.home-card-name 2123
                            p.home-card-place 2323
                            p.home-card-price 123
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/background4.jpg",alt="")
                        .card-body
                            p.home-card-name 2123
                            p.home-card-place 2323
                            p.home-card-price 123
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/background4.jpg",alt="")
                        .card-body
                            p.home-card-name 123
                            p.home-card-place 2323
                            p.home-card-price 123
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/background4.jpg",alt="")
                        .card-body
                            p.home-card-name 2123
                            p.home-card-place 2323
                            p.home-card-price 123
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/background4.jpg",alt="")
                        .card-body
                            p.home-card-name 2123
                            p.home-card-place 2323
                            p.home-card-price 123
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
                .swiper-slide
                   .card
                        .card-img-top
                            img(src="./assets/img/background4.jpg",alt="")
                        .card-body
                            p.home-card-name 2123
                            p.home-card-place 2323
                            p.home-card-price 123
                        .card-body.card-span
                            span.home-card-rating 9
                            span.home-card-good Tuyệt Hảo
                            span.home-card-review(style='font-size:11px;') 1200 luot danh gia
        .swiper-button-next
        .swiper-button-prev