section.home-search-type
    .container
        .home-text.text-center
            h2 Chỗ nghỉ tốt nhất của chúng tôi
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. Ut enim ad minim veniam, ex ea commodo consequat.
        .row
            .col-6
                .card
                    img.card-img(src="./assets/img/home-search.png", alt="")
                    .card-img-overlay
                        h5.card-title Biệt thự
                        p.card-text Thanh lịch hoặc tối giản
                        p.card-text 422,118 biệt thự
            .col-6
                .home-top-type
                    .card
                        img.card-img.card-img-custom1(src="./assets/img/home-search1.png", alt="")
                        .card-img-overlay
                            h5.card-title Căn hộ chung cư
                            p.card-text Cho kỳ nghỉ thành phố hoàn hảo
                            p.card-text 422,118 biệt thự
                .home-tope-under
                    .card
                        img.card-img.card-img-custom2(src="./assets/img/home-search2.png", alt="")
                        .card-img-overlay
                            h5.card-title Căn hộ trong thành phố
                            p.card-text Cho kỳ nghỉ thành phố hoàn hảo
                            p.card-text 422,118 biệt thự
            .col-12
                .card
                    img.card-img.card-img-custom3(src="./assets/img/home-search3.png", alt="")
                    .card-img-overlay
                        h5.card-title Căn hộ bungalow
                        p.card-text Cho kỳ nghỉ mát hoàn hảo
                        p.card-text 422,118 biệt thự