section.home-experience.text-center
    .container
        .home-text
            h2 Trải nghiệm du lịch
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ex ea commodo consequat.
        .row
            .col-3
                .card
                    img.card-img-top(src="./assets/img/trainghiem.png",alt="")
                    .card-body
                        h5 Đi bộ tìm hiểu lịch sử
                        p Streets of Diversity - A unique tour
                        p Từ $10/người
            .col-3
                .card
                    img.card-img-top(src="./assets/img/trainghiem2.png",alt="")
                    .card-body
                        h5 Nếm thử rượu vang
                        p Streets of Diversity - A unique tour
                        p Từ $10/người
            .col-3
                .card
                    img.card-img-top(src="./assets/img/trainghiem3.png",alt="")
                    .card-body
                        h5 Nếm thử cà phê
                        p Streets of Diversity - A unique tour
                        p Từ $10/người
            .col-3
                .card
                    img.card-img-top(src="./assets/img/trainghiem4.png",alt="")
                    .card-body
                        h5 Lớp học thủ công
                        p Streets of Diversity - A unique tour
                        p Từ $10/người